[Unit]
Description=__YNH_APP_NAME__ gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/__YNH_APP_NAME__-pid
User=__YNH_APP_NAME__
Group=__YNH_APP_NAME__
WorkingDirectory=__YNH_APP_PATH__
ExecStart=__YNH_APP_PATH__/venv/bin/gunicorn -c __YNH_APP_PATH__/gunicorn.py wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
